.profile-container {
    width: 90%;
    margin: auto;
}

.user-profile-info {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.82rem;
    text-align: center;
}

.profile-form {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-mdc-form-field {
    width: 100%;
    margin-bottom: 0.15rem;
}

.mat-mdc-form-field.mat-mdc-focused {
    border-color: transparent !important;
}

.mat-mdc-text-field-wrapper {
    background-color: #ffffff !important;
    border: 2px solid #7763c5;
    border-radius: 0.5rem !important;
}

.mat-mdc-input-element {
    color: #000000 !important;
}

.save-profile {
    width: 8.69rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: #7763c5 !important;
    color: #ffffff !important;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.21rem;
    border: none;
}

.logout-button {
    border: none;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 1.06rem;
    color: #a40f0f;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr {
    border: 1px solid #000000;
}

.subscriptions-title {
    display: none;
}

.user-subscriptions {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic-card {
    width: 16.56rem;
    height: 11.31rem;
    background-color: #f5f5f5 !important;
    border-radius: 0.5rem !important;
    margin: 0.6rem;
}

.unsubscribe-btn {
    display: block;
    color: #ffffff;
    background-color: #7763c5;
    border: none;
    border-radius: 0.5rem;
    width: 9.56rem;
    height: 2.5rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.21rem;
    letter-spacing: 0%;
    margin: auto;
}

.mat-mdc-card-actions {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {

    .profile-container {
        width: 95%;
    }

    .user-profile-info {
        width: 33%;
        margin: 1.87rem auto auto auto;
    }

    .subscriptions-title {
        display: block;
        margin: 1rem auto auto auto;
        text-align: center;
    }

    .user-subscriptions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .topic-card {
        width: 23.5rem;
        height: 10.06rem;
    }
}