<div class="profile-container">

    <div class="user-profile-info">

        <h2 class="profile-title">Profil utilisateur</h2>

        <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="profile-form">
            <div class="form-field">
                <input formControlName="username" class="custom-form-field-border" />
            </div>

            <div class="form-field">
                <input type="email" formControlName="email" class="custom-form-field-border" />
            </div>

            <button type="submit" [disabled]="profileForm.invalid" class="save-profile primary-button">
                Sauvegarder
            </button>
        </form>

        <button (click)="logout()" class="logout-button">Se déconnecter</button>

    </div>

    <hr>

    <h2 class="subscriptions-title">Abonnements</h2>

    <div class="user-subscriptions">
        <app-topics />
    </div>

</div>