<div class="topics-container">
    <h2>Liste des Thèmes</h2>

    <mat-card *ngFor="let topic of topics$ | async" class="topic-card">
        <mat-card-header>
            <mat-card-title>{{ topic.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{ topic.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="topic.subscribed" color="{{ topic.subscribed ? 'warn' : 'primary' }}"
                (click)="subscribe(topic)">
                {{ topic.subscribed ? 'Abonné' : 'S’abonner' }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>