<div class="topics-container">
    <div *ngFor="let topic of topics$ | async" class="topic-card">
        <div class="card-header">
            <div class="card-title">{{ topic.title }}</div>
        </div>
        <div class="card-content">
            <p>{{ topic.description }}</p>
        </div>
        <div class="card-actions">
            <button [disabled]="topic.subscribed" (click)="subscribe(topic)" class="subscribe-btn"
                [ngClass]="{ 'subscribed': topic.subscribed }">
                {{ topic.subscribed ? 'Abonné' : 'S’abonner' }}
            </button>
        </div>
    </div>
</div>