<div class="topics-container">
    <div *ngFor="let topic of topics" class="topic card">

        <div class="card__title">{{ topic.title }}</div>

        <div class="card__content topic__description">
            <p>{{ topic.description }}</p>
        </div>
        <div class="topic__subscription">
            <button (click)="toggleSubscription(topic)" class="subscribe-btn primary-button">
                {{ topic.subscribed ? 'Se désabonner' : 'S’abonner' }}
            </button>
        </div>
    </div>
</div>