<div class="feed-container">

    <div class="actions">
        <button routerLink="/create-post" class="create-post primary-button">
            Créer un article
        </button>
        <p class="feed-sort">Trier par ↓</p>
    </div>

    <div class="posts">
        <div *ngFor="let post of posts" class="post-card">
            <div class="card-header">
                <a [routerLink]="['/posts', post.id]" class="post-link">
                    <div class="card-title">{{ post.title }}</div>
                </a>
                <div class="card-subtitle">
                    <p>{{ post.createdAt | date:'dd/MM/yyyy' }}</p>
                    <p>{{ post.author }}</p>
                </div>
            </div>
            <div class="card-content">
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
</div>