<div class="create-post__back">
    <button (click)="goBack()" class="back-button">
        <img src="img/back_arrow.svg" alt="Back Arrow" class="back-arrow" />
    </button>
</div>

<div class="create-post-container">

    <h2 class="create-post__title">Créer un nouvel article</h2>

    <form [formGroup]="postForm" (ngSubmit)="submitPost()" class="create-post__form">

        <mat-form-field>
            <mat-label>Sélectionner un thème</mat-label>
            <mat-select formControlName="topicId">
                <mat-option *ngFor="let topic of topics" [value]="topic.id">
                    {{ topic.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Titre de l'article</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contenu de l'article</mat-label>
            <textarea matInput formControlName="content" rows="6"></textarea>
        </mat-form-field>

        <button type="submit" [disabled]="postForm.invalid" class="create-post__button"
            [ngClass]="{ 'create-post__button--disabled': postForm.invalid}">
            Créer
        </button>
    </form>
</div>