<div class="create-post__back">
    <button (click)="goBack()" class="back-button">
        <img src="img/back_arrow.svg" alt="Back Arrow" class="back-arrow" />
    </button>
</div>

<div class="create-post-container">

    <h2 class="create-post__title">Créer un nouvel article</h2>

    <form [formGroup]="postForm" (ngSubmit)="submitPost()" class="create-post__form">

        <div class="form-field">
            <select formControlName="topicId" class="custom-form-field-border">
                <option value="" disabled selected>Sélectionner un thème</option>
                <option *ngFor="let topic of topics" [value]="topic.id">
                    {{ topic.title }}
                </option>
            </select>
        </div>

        <div class="form-field">
            <input formControlName="title" placeholder="Titre de l'article" class="custom-form-field-border" />
        </div>

        <div class="form-field">
            <textarea formControlName="content" rows="6" placeholder="Contenu de l'article"
                class="custom-form-field-border"></textarea>
        </div>

        <button type=" submit" [disabled]="postForm.invalid" class="create-post__button primary-button"
            [ngClass]="{ 'button--disabled': postForm.invalid}">
            Créer
        </button>
    </form>
</div>