/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.mat-drawer-inner-container {
    width: 5.5rem !important;
    height: 100vh;
    margin-left: 6rem;
    position: relative;
}