/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.mat-drawer-inner-container {
    width: 5.5rem !important;
    height: 100vh;
    margin-left: 6rem;
    position: relative;
}

.mat-mdc-card-title {
    font-family: "Inter", sans-serif !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    line-height: 1.21rem !important;
}

.mat-mdc-card-content {
    margin: 0.5rem 0rem 0rem 0rem;
    padding: 0rem;
    color: #000000;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.06rem;
    overflow: hidden;
}