/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

// Login and Register
.logo-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.mobile-logo {
    width: 14rem;
    height: 8.13rem;
}

// Forms

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-field input {
    width: 15.62rem;
    height: 3.13rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    padding: 1rem;
}

.form-field select {
    width: 15.62rem;
    height: 3.13rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    padding: 1rem;
    appearance: none;
}

.form-field textarea {
    width: 15.62rem;
    height: 13.25rem;
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 0.5rem;
}

.custom-form-field-border {
    border: 2px solid #7763c5 !important;
}