.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 3.88rem);
}

@media (min-width: 768px) {
    .not-found-container {
        height: calc(100vh - 5.88rem);
    }
}