.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login__back {
    width: 100%;
    height: 5.38rem;
}

.back-button {
    background: none;
    border: none;
    display: block;
    margin-left: 2.13rem;
    margin-top: 2.19rem;
}

.back-arrow {
    width: 2.44rem;
}

.login__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.login__logo {
    width: 14rem;
    height: 8.13rem;
}

.login__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.82rem;
    letter-spacing: 0%;
}

.login__form {
    width: 100%;
    height: 20.88rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__form>mat-label,
.login__form>mat-form-field {
    width: 15.63rem;
}

.mat-mdc-text-field-wrapper {
    height: 3.13rem !important;
}


.mdc-text-field--outlined .mdc-notched-outline__leading {
    border-color: #000000 !important;
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-color: #000000 !important;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.login__form>mat-label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.21rem;
    letter-spacing: 0%;
}

.login__form>button {
    width: 9.5rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    border-radius: 0.5rem;
    background-color: #7763c5 !important;
    color: #ffffff !important;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.21rem;
}

@media (min-width: 768px) {
    .login__logo {
        display: none;
    }
}